{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
if use_variant
  assign target = product.selected_or_first_available_variant
else
  assign target = product
endif

assign compare_at_price = target.compare_at_price
assign price = target.price | default: 1999
assign available = target.available | default: false
assign money_price = price | money
if settings.currency_code_enabled
  assign money_price = price | money_with_currency
endif

if target == product and product.price_varies
  assign money_price = 'products.product.price.from_price_html' | t: price: money_price
endif
-%}
<ins class="price-item--regular">{{ money_price }}</ins>
{% if compare_at_price != blank %}
  <del class="price-item--sale">
    {% if settings.currency_code_enabled %}
      {{ compare_at_price | money_with_currency }}
    {% else %}
      {{ compare_at_price | money }}
    {% endif %}
  </del>
{% endif %}
{% assign price_difference = compare_at_price | minus: price %}
{% assign discount_percentage = price_difference | times: 100 | divided_by: compare_at_price %}
{% if discount_percentage > 0 %}
  <span class="price-item--discount">
    {{ discount_percentage | round }}% off
  </span>
{% endif %}

