<div class="pro-compare-section padding-top padding-bottom">
  <div class="container">
    <div class="compare-head">
      <div class="section-title">
    	<h3>Compare</h3>
      </div>
    </div>
    <div class="pro-compare-wrap">
      <div class="pro-compare-left">
        <div class="compare-prod compare-title">Product</div>
        <div class="compare-deatil compare-title">Details</div>
        <div class="compare-cart compare-title">Status</div>
        <div class="compare-remove compare-title">Delete</div>
      </div>
      <div class="pro-compare-right">
        <div class="pro-compare-scroll"></div>
      </div>
    </div>
    <div class="compare-bottom-btn">
    <a class="clear-all-compare btn" href="javascript:void(0)" aria-describedby="a11y-external-message" role="button" tabindex="0">Clear All</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "compare",
    "settings": []
  }
{% endschema %}
