<div class="template-404 page-width page-margin center text-center padding-top padding-bottom">
  <div class="container">
    <p>
      {{ 'templates.404.subtext' | t }}
    </p>
    <div class="section-title">
        <h2 class="title">{{ 'templates.404.title' | t }}</h2>
    </div>  
    <a href="{{ routes.all_products_collection_url }}" class="btn-secondary">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>  
</div>
