<div class="pro-wishlist-section padding-top padding-bottom">
  <div class="container">
    <div class="wishlist-head">
      <div class="section-title">
    	<h3>Wishlist(<span>0</span>)</h3>
      </div>
    </div>
    <div class="pro-wishlist-wrap">
      <div class="pro-wishlist-left">
        <div class="compare-prod wishlist-title">Product</div>
        <div class="compare-deatil wishlist-title">Details</div>
        <div class="compare-cart wishlist-title">Cart Button</div>
        <div class="compare-remove wishlist-title">Delete</div>
      </div>
      <div class="pro-wishlist-right">
        <div class="pro-wishlist-scroll"></div>
      </div>
    </div>
    <div class="wishlist-bottom-btn">
    <a class="clear-all-wishlist btn" href="javascript:void(0)" aria-describedby="a11y-external-message" role="button" tabindex="0">Clear All</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "wishlist",
    "settings": []
  }
{% endschema %}
