.pagination-wrapper {
	width: 100%;
	text-align: center;
	margin: 10px 0 0;
}
.pagination {
	float: none;
	display: inline-block;
	vertical-align: bottom;
}
.pagination__list {
	display: flex;
	justify-content: center;
	width: 100%;
}
.pagination__list > li {
	display: flex;
	align-items: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	justify-content: center;
	text-align: center;
	margin-right: 5px;
}
.pagination__item {
	width: 100%;
	border-radius: 50%;
}
.pagination__item.pagination__item--current,
.pagination__item:active {
	border-radius: 100%;
	width: 100%;
	background-color: var(--theme-color);
	border-color: var(--theme-color);
	color: var(--white);
}
.pagination__item-arrow {
	display: flex;
	height: 40px;
}
.pagination__item-arrow svg {
	margin: auto;
}

.pagination__item {
	color: #667085;
	font-weight: 600;
	width: 40px;
	height: 40px;
	aspect-ratio: 1 / 1;
	border: 1px solid transparent;
}

.pagination__item:focus {
	border-color: var(--theme-color);
  color: var(--theme-color);
}
