#cart-notification-button {
  margin: 0 0 15px;
  font-family: var(--first-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--theme-color);
}
.cart-notification-wrapper {
  position: relative;
}
.cart-notification-product__image {
  border: 1px solid var(--border-color);
}
.cart-notification {
  background: var(--white);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 15px;
  position: fixed;
  right: 0px;
  top: 0;
  transform: translateY(-100%);
  opacity:0;
  visibility: hidden;
  z-index: 3;
  max-width: 380px;
  transition: transform .3s ease, visibility 0s;
}
.cart-notification.active {
  transform: translateY(0);
  opacity:1;
  visibility: visible;
}
.cart-notification__header {
  gap: 15px;
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding:0 0 15px;
  margin:0 0 15px;
}
.cart-notification__heading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  line-height: 1;
  gap: 10px;
  font-weight: 600;
}
.cart-notification-product {
  align-items: center;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin:0 0 15px;
  padding: 0 0 15px;
}
.cart-notification-product__name {
  margin:0 0 10px;
  font-size: 14px;
  line-height: 20px;
}
.cart-notification-cnt {
    padding: 0 0 0 15px;
}
.cart-notification-cnt .product-option {
 margin:0px;
}
.cart-notification-cnt .product-option dt {
    margin: 0 10px 0 0;
}
.cart-notification__links {
    float: left;
    width: 100%;
    text-align: center;
}
.cart-notification__links .btn{
  width: 100%;
  margin: 0 0 15px;
}
.cart-notification__links .btn-link {
    padding: 8px 15px;
    width: 100%;
    font-family: var(--first-font);
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cart-notification__links .btn-link:hover{
  color: var(--theme-color);
  background-color: var(--second-color);
}
.cart-notification__close {
    background: none;
}
@media (max-width: 767px){
  .cart-notification{
  	max-width: 300px;
    padding: 10px;
  }
  .cart-notification__header,.cart-notification-product{
    padding: 0px 0 10px;
    margin: 0 0 10px;
  }
  .cart-notification__header svg {
    width: 20px;
    height: 20px;
  }
  .cart-notification-cnt {
    padding: 0 0 0 10px;
  }
  .cart-notification-product__name {
    margin: 0 0 5px;
    font-size: 13px;
    line-height: 18px;
  }
  .cart-notification-cnt .product-option {
    font-size: 12px;
    justify-content: left;
  }
  
}