.predictive-search {
  display: none;
  position: relative;
  top: 100%;
  left: 0px;
  z-index: 3;
  background: var(--white);
  border: 1px solid var(--border-color);
  float: left;
  width: 100%;
  padding: 15px 0px;
  overflow-y: scroll;
  height: 300px !important;
  max-height: 300px !important;
  margin: 15px 0;
}
.predictive-search__heading {
  font-size: 26px;
  line-height: 1;
  margin: 0 0 15px;
  text-align: center;
  color: var(--theme-color);
}
.search-form-wrapper .predictive-search-bottom .btn{
  position: static;
  height: auto;
  width: auto;
  padding: 10px 20px;
  transform: none;
  display: flex;
  gap: 5px;
  font-size: 15px;
  align-items: center;
  background: var(--second-color);
}
.search-form-wrapper .predictive-search-bottom .btn:hover {
    background: var(--theme-color);
}
.search-form-wrapper .btn.predictive-search__item svg {
    fill: none;
}
#predictive-search-results #predictive-search-results-list {
    float: left;
    width: 100%;
}
#predictive-search-results #predictive-search-results-list li {
    float: left;
    width: 25%;
    display: block;
    margin: 0 0 30px;
    padding: 0 15px;
}
.template-search__search predictive-search[open] .predictive-search,.template-search__search predictive-search[loading] .predictive-search {
  position: absolute !important;
}
predictive-search[open] .predictive-search,predictive-search[loading] .predictive-search {
  display: block;
}
predictive-search:not([loading]) .predictive-search__heading .spinner,predictive-search:not([loading]) .predictive-search__loading-state,predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}
#predictive-search-results #predictive-search-results-list .predictive-search__item-content {
    float: left;
    width: 100%;
    padding: 15px 0 0;
    text-align: left;
  color: var(--theme-color);
}
#predictive-search-results #predictive-search-results-list .predictive-search__item-heading {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1;
}
#predictive-search-results #predictive-search-results-list .predictive-search__item-vendor {
    font-size: 11px;
    line-height: 14px;
    font-style: italic;
    margin-bottom: 10px;
}
#predictive-search-results #predictive-search-results-list .predictive-search__item-heading a {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.predictive-search-bottom {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  gap: 10px;
    flex-wrap: wrap;
}
predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}
.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}
predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}
#predictive-search-results #predictive-search-results-list .price {
    gap: 10px;
}
#predictive-search-results #predictive-search-results-list .price ins.price-item--sale {
    font-size: 10px;
    opacity: 0.6;
    text-decoration: line-through;
}
@media screen and (min-width: 1201px) {
  .predictive-search{
    position: absolute;
  }
  #predictive-search-results #predictive-search-results-list li{
    width: 25%;
  }
  #predictive-search-results #predictive-search-results-list .predictive-search__item-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .predictive-search--header {
    right: 0;
    left: 0;
    top: 100%;
    padding: 20px 0px;
  }
  .predictive-search {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  #predictive-search-results #predictive-search-results-list li{
    width: 33.33%;
  }
  #predictive-search-results #predictive-search-results-list .predictive-search__item-heading {
    font-size: 16px;
  }
  #predictive-search-results ins {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  #predictive-search-results #predictive-search-results-list li{
    width: 100%;
  }
}