.featured-blog__wrap {
	padding: 80px 3px;
    position: relative;
}

.featured-blog__fluid-container{
    display: flex;
    align-items: stretch;
    gap: 46px;
    position: relative;
    z-index: 1;
}

.featured-blog__card{
    min-height: 469px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-basis: 50%;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.featured-blog__card-content{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    gap: 18px;
    padding: 18px;
    z-index: 1;
    color: #F2F7F8;
}

.featured-blog__card-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    transition: transform 3s ease;
}

.featured-blog__card:hover .featured-blog__card-img{
    transform: scale(1.2);
}

.featured-blog__card-img img{
    width: 100%;
    object-fit: cover;
}

.featured-blog__wrap.section-theme--dark{
	background-color: var(--theme-color-dark);
}

.featured-blog__wrap.section-theme--light{
	background-color: var(--theme-color-light);
}

.featured-blog__card-description{
    font: var(--common-text);
}

.pattern-img-left-top{
    position: absolute;
    left: 0;
    top: 25px;
    max-width: 157px;
    z-index: 0;
}

.pattern-img-right-bottom{
    position: absolute;
    right: 0;
    bottom: 18px;
    max-width: 120px;
    z-index: 0;
}

@media screen and (max-width:998px) {
    .featured-blog__fluid-container{
        gap: 36px;
    }
}

@media screen and (max-width:767px) {
    .featured-blog__fluid-container{
        flex-direction: column;
    }
}