.weekly-specials__container{
    overflow: hidden;
}

.weekly-specials__title{
    padding-bottom: 26px;
}

.weekly-specials__slide{
    max-width: 444px;
    padding: 36px 18px 90px;
    border-radius: 12px;
    box-shadow: 8px 4px 12px 0px #0000000D;
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    overflow: hidden;
    height:auto;
}

.weekly-specials__slide-logo{
    width: 120px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.weekly-specials__slide-featued-img{
    position: absolute;
    bottom: -1px;
    right: 15px;
    width: 40%;
}

.weekly-specials__slide-text{
    max-width: 305px;
    line-height: 1.625;
    color: var(--white);
}

@media screen and (max-width:998px) {
    .weekly-specials__slide-text{
        font-size: 20px;
    }

    .weekly-specials__slide-featued-img{
        right: -2px;
    }

}