.container.why-grocery__container {
	overflow: hidden;
}

.why-grocery__sectiontitle {
	padding-bottom: 20px;
}

.why-grocery__slide {
	border: 1px solid var(--grey-500);
	border-radius: 8px;
}

.why-grocery__content {
	display: flex;
	flex-direction: column;
	gap: 6px;
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.why-grocery__title,
.why-grocery__substitle {
	font-size: 14px;
	line-height: 16px;
}

.why-grocery__title {
	font-weight: 700;
}

.why-grocery__substitle {
	color: var(--grey-800);
	font-weight: 500;
}

.why-grocery__row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 22px;
}

@media screen and (max-width: 998px) {
	.why-grocery__row {
		grid-template-columns: 1fr 1fr;
	}

    .why-grocery__icon svg{
        width: 36px;
        height: 36px;
    }
}
